<div class="banner-show" style="background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(<%= cl_image_path @cocktail.photo.key %>)">
  <h1>
    <%= @cocktail.name %>
  </h1>
</div>
<div class="container">
  <div class="row justify-content-between">
  <div class="container-show-box col-12 col-lg-4 mt-4">
    <h2 class="mt-3 mb-3">Ingredient list</h2>
    <% @doses.each do |dose| %>
    <ul>
      <li>
          <%= dose.description %> -
          <%= dose.ingredient.name %>
          <%= link_to '<i class="fas fa-trash-alt"></i>'.html_safe,  delete_path(dose), method: :delete, data: { confirm: 'Are you sure?' } %>
      </li>
    </ul>
    <% end %>
  </div>
  <div class="container-show-box col-12 col-lg-4 mt-4 mb-4">
    <h2 class="mt-3 mb-3">Add ingredients</h2>
    <%= simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
    <div class="form-inputs">
      <%= f.input :description %>
      <%= f.association :ingredient %>
    </div>
    <div class="form-actions">
      <%= f.button :submit, class: "btn-standard"%>
      <% end %>
    </div>
  </div>
  </div>
</div>
